<launch>
  <arg name="sim_mode"/>
  <arg name="config_file"/>

  <rosparam command="load" file="$(arg config_file)"/>

  <node pkg="iai_qb_cube_driver" type="iai_qb_cube_driver" 
        name="iai_qb_cube_driver" output="screen">
    <param name="sim_mode" value="$(arg sim_mode)" />
    <remap from="~joint_state" to="/joint_states"/>
  </node>
</launch>
