<launch>
  <arg name="sim_mode" default="false"/>

  <include file="$(find iai_qb_cube_driver)/launch/iai_qb_cube_driver.launch">
    <arg name="sim_mode" value="$(arg sim_mode)"/>
    <arg name="config_file" value="$(find iai_qb_cube_driver)/config/nmmi-challenge.yaml"/>
  </include>

  <rosparam command="load" file="$(find iai_qb_cube_driver)/config/arm-interpolator.yaml"/>

  <node pkg="iai_qb_cube_driver" type="iai_qb_cube_interpolator" name="arm_interpolator" output="screen">
    <remap from="~out_command" to="/iai_qb_cube_driver/command"/>
    <remap from="~in_state" to="/joint_states"/>
    <remap from="~in_command" to="~command"/>
  </node>

  <rosparam command="load" file="$(find iai_qb_cube_driver)/config/gripper-interpolator.yaml"/>

  <node pkg="iai_qb_cube_driver" type="iai_qb_cube_interpolator" name="gripper_interpolator">
    <remap from="~out_command" to="/iai_qb_cube_driver/command"/>
    <remap from="~in_state" to="/joint_states"/>
    <remap from="~in_command" to="~command"/>
  </node>
</launch>
